<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>LSEG Chat Bot</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="../static/script.js" defer></script>
</head>

<body>
    <main>
        <h2>🤖 LSEG Chat Bot</h2>
        <div id="chat"></div>

        <div id="text-input-area">
            <input type="text" id="textInput" placeholder="Pick an option." />
            <button onclick="sendMessageToServer()">Send</button>
        </div>
        <button id="reset-button" onclick="reset()">Reset</button>

    </main>
</body>

</html>